/* App layout */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.app-content {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;
}

.app-main {
  flex: 1;
  overflow: hidden;
  min-width: 0; /* Allow flexbox to shrink below content size */
}
